<!DOCTYPE html>
<html>

<head>
  <title>Image</title>
  <meta charset="utf-8" />

  <meta content="https://earth2.io" property="og:url" />
  <meta content="<%= imageurl %>" property="og:image" />
  <meta property="og:title" content="title" />
  <meta property="og:description" content="description" />
</head>

<body>
  <!-- <h1>Test Page</h1> -->
  <img src="<%= imageurl %>">
  </h2>

</body>

</html>