<!DOCTYPE html>
<html>

<head>
  <title>Image</title>
  <meta charset="utf-8" />

  <meta content="<%= url %>" property="og:url" />
  <meta content="<%= url %>" property="og:image" />
  <!-- <meta property="og:title" content="title" /> -->
  <!-- <meta property="og:description" content="description" /> -->
</head>

<body>
  <!-- <h1>Test Page</h1> -->
  <img src="<%= url %>">
  </h2>

</body>

</html>